<nav class="navbar bg-dark navbar-expand-sm">

    <a class="navbar-brand" style="color:antiquewhite" routerLink=""> TP Students</a>

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <button class="btn btn-light dropdown-toggle" data-toggle="dropdown"> Students
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/students/add"> Add </a>
                    <a class="dropdown-item" routerLink="/students/list"> List </a>
                    <a class="dropdown-item disabled"> Metrics </a>
                </div>
            </button>
        </li>
        <li class="nav-item dropdown">
            <button class="btn btn-light dropdown-toggle" data="dropdown"> Careers
                <div class = "dropdown-menu">
                    <a class="dropdown-item" routerLink="/careers/list"> List </a>
                </div>
            </button>
        </li>
    </ul>

</nav>

