<div class="rs-container-common rs-medium">
    <h3>
        New student
    </h3>

    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="input-student-name">Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="input-student-name" placeholder="name">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                <div *ngIf="firstName.errors.required">
                    This field is required
                </div>
                <div *ngIf="firstName.errors.maxLength">
                    the maximun length of the first name is 10
                </div>
            </div>

            <label for="input-student-surname">Surname</label>
            <input type="text" formControlName="lastName" class="form-control" id="input-student-surname" placeholder="surname">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                <div *ngIf="lastName.errors.required">
                    This field is required
                </div>
                <div *ngIf="lastName.errors.maxLength">
                    the maximun length of the last name is 15
                </div>
            </div>

            <label for="input-student-email">E-mail</label>
            <input type="email" formControlName="email" class="form-control" id="input-student-email" placeholder="email@email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors.required">
                    This field is required
                </div>
                <div *ngIf="email.errors.email">
                    The E-mail's format is incorrect
                </div>
            </div>

            <label for="input-student-dni">DNI</label>
            <input type="number" formControlName="dni" class="form-control" id="input-student-dni">
            <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
                <div *ngIf="dni.errors.required">
                    This field is required
                </div>
                <div *ngIf="dni.errors.email">
                    The DNI must contain only numbers 
                </div>
            </div>

            <label for="input-student-address">Address</label>
            <input type="text" formControlName="address" class="form-control" id="input-student-address" placeholder="address">>

            <select id="selectedCareerId" formControlName="career">
                <option [ngValue]="null" disabled> -- Choose career -- </option>
                <option [ngValue]="career" *ngFor="let career of careers"> {{ career.name }}</option>
            </select>

            <input type="submit" [disabled]="!studentForm.valid" class="btn btn-primary" value="Add">

        </div>
    </form>

</div>