<h3>
    New student
</h3>

<form>
    <div class="form-group">
        <label for="input-student-name">Name</label>
        <input type="text" name="name" [(ngModel)]="name" class="form-control" id="input-student-name" placeholder="name">

        <label for="input-student-surname">Surname</label>
        <input type="text" name="surName" [(ngModel)]="surName" class="form-control" id="input-student-surname" placeholder="surname">
        
        <label for="input-student-email">E-mail</label>
        <input type="email" name="email" [(ngModel)]="email" class="form-control" id="input-student-email" placeholder="email@email">

        <label for="input-student-dni">DNI</label>
        <input type="number" name="dni" [(ngModel)]="dni" class="form-control" id="input-student-dni">

        <label for="input-student-address">Address</label>
        <input type="text" name="address" [(ngModel)]="address" class="form-control" id="input-student-address" placeholder="address">

        <select name="selectedCareerId" id="selectedCareerId" [(ngModel)]="selectedCareer">
            <option [ngValue]="null"> -- Choose career -- </option>
            <option [ngValue]="career" *ngFor="let career of careers"> {{ career.name }}</option>
        </select>

        <button class="btn btn-primary" (click)="addStudent()">Add</button>

    </div>
</form>