<div class="rs-container-common rs-padding">
    <form class="form-group needs-validation" [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit()">
        <div class="form-row rs-vertical-margin">
            <label for="input-email"> E-mail </label>
            <input type="email" class="form-control" formControlName="email" id="input-email" placeholder="example-mail@example.com">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="d-block invalid-feedback">
                <div *ngIf="email.errors.required">
                    This field is required
                </div>
                <div *ngIf="email.errors.email">
                    The E-mail format is incorrect
                </div>
                <div *ngIf="email.errors.emailExistentValidator">
                    The E-mail is already in use
                </div>
            </div>
        </div>

        <div class="form-row rs-vertical-margin">
            <label for="input-password">Password</label>
            <input type="password" class="form-control" formControlName="password" id="input-password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="d-block invalid-feedback">
                <div *ngIf="password.errors.required">
                    This field is required
                </div>
                <div *ngIf="password.errors.pattern">
                    The password must contain one uppercase letter, one lowercase letter, a digit and 8 to 16 characters
                </div>
            </div>
        </div>

        <div class="form-row rs-vertical-margin">
            <div class="col">
                <button (click)="onSignInClick()" class="btn btn-link"> Sign in </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary"> Sign up </button>
            </div>
        </div>
    </form>
</div>
