/* You can add global styles to this file, and also import other style files */

.rs-container-common {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 2em 2em 0em 2em;
    margin: 2em 2em 2em 2em;
}

.rs-medium {
    width: 40%;
}

.rs-large {
    width: 80%;
}